{% load static %}
 
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}Quote{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     
  </head>
<body>
  <div class="container-scroller">
    {% block create_quote %} {% endblock %}
    {% block list_quote %} {% endblock %} 
    {% block edit_quote %} {% endblock %} 
    {% block delete_quote %} {% endblock %}
    {% block chat_list %} {% endblock %}
  </div>
</body>  
</html>

